
.menuPane {
              -fx-background-size: 1200 1000;
              -fx-background-radius:  18 18 0 0;
              -fx-border-radius: 18 18 0 0;
              -fx-background-color: #2147d0;
            }
.contentPane {
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #eee;
}

.menuButton {
    -fx-background-color: #2147d0;
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
}

.menuButton: hover{
    -fx-background-color: #526bcd;
    -fx-cursor: hand;
}

.dashboardTextField{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.rootPane{
    -fx-background-color:#fff;
}