.colorAnchorPane {
    -fx-background-color:"BLUE";
}

.basicAnchorPane{
    -fx-background-color: #bdd9e4;
}

.component {
    -fx-color-fill:#69b8d0;
}

.textField {
    -fx-background-color: "white";
    -fx-background-radius: 7px;
    -fx-border-color: #fff;
    -fx-border-radius: 7px;
    -fx-text-inner-color:#000;
}

.colorButton {
    -fx-text-fill: "white";
    -fx-background-color: #69b8d0
}

.colorButton:hover {
    -fx-background-color:#1779bf;
    -fx-cursor: hand;
}

.colorHyperLink:hover {
    -fx-text-fill: #1779bf;

}